body {
    justify-content: center; 
    align-items: center;
    min-height: 20vh;
    display: grid;
    background-color: #000000d7;
    
}

.kotak {
    background-color: #faebff3e;
    border: 1px solid #eaff00;
    border-radius: 5px;
    padding: 20px;
}

.kotak1 {
    background-color:  #faebff3e;
    border: 1px solid  #eaff00;
    border-radius: 5px;
    padding: 20px;
}