/* CSS untuk latar belakang halaman */
body {
    background-image: url('fuel.jpeg'); /* Ganti 'background.jpg' dengan URL atau path ke gambar latar belakang yang Anda inginkan */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif; /* Ganti dengan font yang Anda sukai */
    color: #333; /* Warna teks */
}

h1 {
    text-align: center;
}

/* CSS untuk elemen formulir */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang transparan untuk formulir */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Bayangan untuk elemen formulir */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Warna border input */
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF; /* Warna tombol submit */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Warna tombol saat dihover */
}

/* CSS for the transaction result section */
.transaction-result {
    margin-top: 20px; /* Adjust the margin to control the space between the form and result */
    margin-right: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Match the background color of the form */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
