@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.output-container {
    background-color: rgba(181, 188, 216, 0.568);
    max-width: 467px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow:
    0px 12.5px 10px rgba(0, 0, 0, 0.03),
    0px 100px 80px rgba(0, 0, 0, 0.06);
    height: auto;
}

h2 {
    color: rgba(42, 56, 66, 0.705);
    text-align: center;
}

h3 {
    color: rgba(42, 56, 66, 0.685);
    margin-top: 29px;
    text-align: center;
}

.output-container .top-input {
    margin-top: 14px;
}

.output-container input {
    width: 100%;
    margin: 4px 0;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(48, 74, 114);
}

.output-container input::placeholder {
    color: rgba(48, 74, 114, 0.5);
}

.error {
    margin-top: 15px;
    color: rgba(233, 47, 33, 0.568);
}

.output-container input:focus{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    outline-color:rgba(40, 51, 61, 0.37);
}

input[type="submit"] {
    margin-top: 9px;
    font-size: 15px;
    background-color: rgba(42, 56, 66, 0.685);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.total.output {
    margin-top: 15px;
    color: rgba(42, 56, 66, 0.808);
}

.output {
    margin-top: 2px;
    color: rgba(42, 56, 66, 0.808);
}

.outputEkonomi,
.outputVip,
.outputEksekutif {
    margin-left: 4px;
    color: rgba(67, 85, 99, 0.733);
}

.keuntungan {
    margin-left: 4px;
    color: rgba(67, 85, 99, 0.733);
}

@media (max-width: 600px) {
  .output-container {
    max-width: 90%;
    padding: 10px;
    margin: auto;
  }

  h2 {
    font-size: 19px;
  }

  h3, .output-container input, .output {
    font-size: 14px;
  }

  .output-container input {
    width: 100%;
    margin: 4px 0;
  }
}
