body{
    font-family: 'Times New Roman', Times, serif;
    

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh 0 0;
    font: auto;
}

.hasil{
    display:list-item;
    justify-content: center;
    align-items: center;
    min-height: 5px;
    font-size: auto;
}
.number{
    width: 300px;
    max-width: 100%;
}
.submit{
    border: 2px solid black; /* Misalnya, border solid dengan ketebalan 2px dan warna merah */
    border-radius: 8px; /* Untuk membuat border sudut menjadi lebih melengkung */
    padding: 10px 15x; /* Untuk memberi ruang di dalam tombol */
    background-color: gray; /* Warna latar belakang tombol */
    color: white; /* Warna teks di dalam tombol */
    font-size: 12px; /* Ukuran font teks di dalam tombol */
    margin-top: 5px;
}