.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin:0 auto;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  
}

.text {
  flex: 1;
  padding: 30px;
  text-align: left;
}

.image {
  flex: 1;
  padding: 1px;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.213);
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 2px;
    align-self: flex-end;
      
}

.flex-container{
display: flex; /* mengubah ke mode flexbox */
flex-wrap: wrap; /* mengatur item flexbox dapat diwrap/apabila container tidak cukup lagi untuk membungkus item, maka item akan diturunkan */ 
flex-direction: row; /* Mengatur arah item ke row/satu baris */
justify-content: center; /* mensejajarkan item selalu di tengah dalam satu baris */
padding-top: 60px;
}

.item{
width: 300px;
height: 120px;
background-color: rgba(0, 0, 0, 0.213);
margin: 3px;
box-sizing: border-box;
flex-grow:1; /* mengatur setiap item flexbox dapat melebar 1 bagian dari total item*/
flex-shrink: 1; /* mengatur setiap item flexbox dapat menciut 1 bagian dari total item*/
font-size: 20px;
text-align: center;
padding-top: 50px;
float: left;
padding: 60px;
}

.container h1{
text-align: left;
margin-bottom: 30px;
text-transform: uppercase;
border-bottom: 4px solid rgba(0, 0, 0, 0.213);
}
