.navbar-brand {
    color: #0008ff !important;
}

.jumbotron {
    background-color: #C9DBB2 !important;
}

.btn-primary {
    background-color: #0011ff !important;
    border-color: #0008ff !important;
}

.table-striped {
    background-color: #C9DBB2 !important;
    width: 200% !important;
}


